body{
    // background: red !important;
        
    
}
.be-search-location{
    input{
        padding: 0px 25px;
    }
    .left-pos{
        left: 0;
    }
    p{
        font-size: 14px;
        font-weight: normal;
        padding-left: 5px;
    }
}

