@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$Primary-text:#37474F;
$primary-color: #5ECE7B;
$--font-family--primary: 'Poppins', sans-serif !important;

body{
    color: $Primary-text;
    font-family: 'Poppins', sans-serif !important;
}
.d-flex {
    display: flex;
}
.w-100 {
    width: 100%;
}
.text-center{
    text-align: center;
}

.m-r-25{
    margin-right: 25px;
}

.semi-bold{
    font-weight: 600;
}

.position-relative{
    position: relative;
}

.be-search-location{
    input{
        padding: 0px 0px;
    }
    .left-pos{
        left: 0;
    }
    p{
        font-size: 14px;
        font-weight: normal;
        padding-left: 5px;
        font-family: $--font-family--primary;
    }
}

.location-content {
    @media (max-width:1024px){
        width: calc(100% - 55px);
    }
    p {
        margin: 5px 0px 0px;
        margin-left: 5px;
    }
    input {
        border: 0;
        margin-left: 5px;  
    }
}
.sf-search-bar{
    width: 100% !important;
}
.location-blk{
    // max-width: 300px;
    margin-right: 15px;
    @media (max-width:1024px){
        max-width: 100%;
        margin-right: 0px;
    }
    .sf-circle-icon--large {
        background: #EFFAF2;
        padding: 11px !important;
        .sf-circle-icon{
            --icon-color: #463a3a;
        }
    }
    input{
        border-bottom: 2px solid $primary-color;
        font-size: 17px;
        font-weight: 100;
        margin-top: 3px;              
        // max-width: 200px;
        margin-bottom: 0;
        
        &:focus-visible {
            outline: -webkit-focus-ring-color auto 0px;
        }
    }
}

.location-list{
    padding-left: 0;
    margin-top: 0;
    li{
        font-size: 14px;
        font-weight: 700;
        list-style: none;
        border-bottom: 1px solid #F0F0F0;
        padding: 10px 0px 15px 40px ;
        position: relative;
        .pos-left{
            left: 0;
            top: 0;
            bottom: 0;
            height: 100%;
        }
        p{
            font-size: 13px;
            font-weight: 400;
            margin: 0;
            line-height: 15px;
            margin-bottom: 0 !important;
        }
    }
}
.popover-blk{
    position: relative;
    .popover-content{
        margin-top: 15px;
        position: absolute;
        background: #fff;
        border: 2px solid $primary-color;
        z-index: 999;
        padding: 20px;
        border-radius: 5px;
        left: -68px;
        width: calc(100% + 43px);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        &:before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $primary-color;
            top: -15px;
            left: 0;
            right: 0;
            margin: auto;
        }
        h3{
            font-size: 12px;
            color: $Primary-text;
            font-weight: 700;
        }
        p{
            font-size: 13px;
            font-weight: 400;
            margin-left: 0;
            margin-bottom: 20px;
            font-family: $--font-family--primary;
        }
        .pos-left{
            left: 0;
        }
        input{
            padding: 0px 20px;
            border-bottom: 2px solid $Primary-text;
            max-width: 100%;
            margin-bottom: 0px;
            font-size: 16px;
            line-height: 24px;
        }
        .enable-location-btn{
            margin: auto;
            padding: 12px 20px;
            background: $primary-color;
            border-radius: 4px;
            color: #fff;
            font-size: 12px;
            line-height: 22px;
            font-family: $--font-family--primary;
            font-weight: 500;
            span{
                margin-right: 10px;
            }
        }
    }
}
